<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bliss International Ltd.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">

                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            {% if ToCustomer %}
                            <tr>
                                <td style="color: #153643; font-size: 20px; font-family: Arial">
                                    <b>Hi {{customer.first}},</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial; font-size: 16px; line-height: 20px;">
                                    We have received your order inquiry for Bliss International Ltd. <br/>
                                    We will be in touch shortly to confirm the details of your order.<br/>
                                    If you have any questions, please don't hesitate to reach out.
                                </td>
                            </tr>
                            {% endif %}

                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        {% for p,q in products.items() %}
                                        <tr>
                                            <td style="padding: 25px 0 0 0; color: #153643; font-size: 16px; line-height: 20px;">
                                                <img src="data:image/jpeg;base64,{{ p.img_path | safe }}" alt="Product Image" width="100" height="100" style="display: block;" border="0" />
                                            </td>
                                            <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
                                                <b>{{p.name}}</b><br/>
                                                {{p.price}} KSh/item<br/>
                                                Quantity: {{q}}<br/>
                                            </td>
                                            <td style="padding: 25px 0 0 100px"></td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                          <td>
                                            Order message: {{message}}
                                          </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 40px">
                                </td>
                            </tr>

                            <tr>
                                <td style="color: #153643; font-family: Arial; font-size: 20px;">
                                    <b>Customer Information</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 0px 0; color: #153643; font-family: Arial; font-size: 16px; line-height: 20px;">
                                    <b>{{customer.first}} {{customer.last}}</b><br/>
                                    {{customer.email}}<br/>
                                    {{customer.phone}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FEFCFB" style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #000000; font-family:Arial; font-size: 14px;" width="75%">
                                    Bliss International Ltd.<br/>
                                    www.blisskenya.co.ke<br/>
                                    Contact: info@blisskenya.com
                                </td>
                                <td align="right" width="25%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="font-size: 12px; font-weight: bold;">
                                                <a href="http://www.twitter.com/" style="color: #ffffff;">
                                                    <img src="https://icon-icons.com/icons2/2416/PNG/96/heart_list_task_to_do_icon_146658.png" alt="Twitter" width="80" height="80" style="display: block;" border="0" />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
