{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav class="nav justify-content-center">
         <a href="{{url_for('store.products', filter=gender.lower()) }}"><h5 class="nav-link">{{gender}}</h5></a>
         {% for c in categories %}
           {% if c == category %}
             <a class="nav-link disabled" href="{{ url_for('store.products', filter='-'.join([gender.lower(), '-'.join(c.split())])) }}">{{ c.capitalize() }}</a>
           {% else %}
           <a class="nav-link" href="{{url_for('store.products', filter='-'.join([gender.lower(), '-'.join(c.split())])) }}">{{ c.capitalize() }}</a>
           {% endif %}
         {% endfor %}
      </nav>
    </div>
  </div>
<div class="row">
    <div class="col-10">
        <div class="product-search-result-content">
            <ul id="image-list" class="row" style="margin-left:0px; margin-right:6vw; list-style:none; display: flex; flex-wrap: wrap">
                {% for product in products %}
                <li class="col-sm-4">
                    <div class="card product-tile text-center" style="width: 18rem; height:25rem; border: none">
                        <div class="card text-center" style="width: 18rem; border: none; padding-bottom: 0">
                          <a href="{{url_for('store.product', product_id=product.product_id, admin=False)}}" style="text-decoration: none; color: #000000">
                            <div class="card-body">
                              <img src="data:image/jpeg;base64,{{ product.img | safe }}" class="card-img-top" alt="product image">
                              <h5 class="card-title" style="padding-top: 12px; text-transform: capitalize; font-family: 'LL Brown Light Web', Helvetica, sans-serif; font-weight: 400; font-size: 18px; letter-spacing: 0.5px;">{{product.name}}</h5>
                              <div class="card-text">{{product.price}} KSh</div>
                            </div>
                          </a>
                            <!--<a class="btn btn-link stretched-link" href="#" style="display: none">Hello</a>-->
                        </div>
                        <a class="btn btn-link" href="{{url_for('store.add_to_cart', product_id=product.product_id)}}"
                           style="text-decoration: none; color: #000000; font-family: 'LL Brown Light Web', Helvetica, sans-serif; text-transform: uppercase; font-weight: 400; font-size: 0.7em; letter-spacing: 0.12em; padding-top: 0">
                            + add to cart
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>


{% endblock %}
